<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Привет, поступил запрос на сброс пароля, если это был не ты проигнорируй сообщение
    </p>

    <p><a href="<%= @url %>">Reset password link</a></p>
  </body>
</html>