
<h2>Добро пожаловать в Симпле блогъ</h2>
<p>У нас тут есть посты, пока без фильтров и сортировки, просто кучкой</p>
<h2>Посмотреть о чем они  могешь нажав на какойто оО, странно не правда ли? Никогда такого небыло, и вот опять.</h2>

<% if @articles.any? %>
<ul>
<li><% @articles.each do |article| %>
  <h3><%= link_to article.header, article_path(article.id) %></h3></li>
  <hr>
  <br>
<% end %>
</ul>
<% else %>
  <p style="font-size: 25px">Постов нет пока</p>
<% end %>