<main>
  <style>
      .form-group {
          padding: 10px;
      }
  </style>

  <h1 class="display-4 fw-normal text-center mb-3">Registration page</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
      </div>
      <div class="text-center">
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
</main>