<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Yulia's Food Blog</title>
  <style>
      body {
          background-color: #f6f6f6;
          font-family: Arial, sans-serif;
          text-align: center;
      }

      h1 {
          font-size: 48px;
          margin-top: 50px;
          margin-bottom: 30px;
      }

      p {
          font-size: 24px;
          margin-bottom: 50px;
      }

      h4 {
          font-size: 32px;
          margin-top: 50px;
          margin-bottom: 20px;
      }

      form {
          display: inline-block;
          margin-bottom: 50px;
      }

      input[type="submit"] {
          background-color: #ADD8E6;
          color: white;
          font-size: 24px;
          border-radius: 10px;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
      }

      input[type="submit"]:hover {
          background-color: #ADD8E6;
      }
  </style>
</head>

<body>
<h1>Hi! This is Yulia, and this is my food blog.</h1>
<p>Here you can find different recipes from all over the world.</p>

<h4>Do you want to login?</h4>
<form action="/login" method="POST">
  <input type="submit" value="Login">
</form>

<h4>Don't have an account yet?</h4>
<form action="/users/new" method="POST">
  <input type="submit" value="Sign up">
</form>
</body>
</html>