<main>
  <style>
      .form-group {
          padding: 10px;
      }
  </style>

  <h1 class="display-4 fw-normal text-center mb-3">Login page</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary">
        <a href="/forgot-password" class="btn btn-secondary">Forgot Password?</a>
      </div>
    </form>
  </div>
</main>