<main>
  <style>
      .form-group {
          padding: 10px;
      }
  </style>

  <h1 class="display-4 fw-normal text-center mb-3">Reset password page</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
    <form action="/reset-password" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="form-group">
        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
      </div>
    </form>

  <input type="hidden" name="token" value="[reset_token]">

  <input type="submit" value="Reset Password">
    </form>
  </div>
</main>
